@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root
{
    --game-width: 700px;
    --game-height: 200px;
    
    --cactus-width: 20px;
    --cactus-height: 40px;
    --cactus-image: url(img/cactus.png);
    
    --dino-width: 50px;
    --dino-height: 50px;
    --dino-image: url(img/trex.png);
    --dino-jump-top: calc(var(--game-height) - var(--dino-height));
    
    --cactus-time: 1;
}

.game{
    width: var(--game-width);
    height: var(--game-height);
    border: 1px solid black;
    margin: auto;
    position:relative;
}

#dino{
    width: var(--dino-width);
    height: var(--dino-height);
    background-image: var(--dino-image);
    background-size: var(--dino-width), var(--dino-height);
    position: relative;
    top: calc(var(--game-height) - var(--dino-height));
}

.jump{
    animation: jump 500ms cubic-bezier(.17,.74,.17,1.09);
}

@keyframes jump {
    0%, 100%{ 
        top: var(--dino-jump-top)
    }
    
    50%{
        top: calc(var(--dino-jump-top) - 60px) ;
    }
}

#cactus{
    width: var(--cactus-width);
    height: var(--cactus-height);
    position: relative;
    top: calc(var(--game-height) - 2.3 * var(--cactus-height));
    left: calc(var(--game-width) - var(--cactus-width)) ;
    
    background-image: url("img/cactus.png");
    background-size: var(--cactus-width) var(--cactus-height);
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{
        calc(var(--game-width) - var(--cactus-width)) ;
    }
    
    100%{
        left: -20px;
    }
    
}

/*overlay it as to not disturb the game*/
#score {
    text-align: right;
    position: absolute;
    z-index: 1;
    right: 0;
    font-family: 'VT323', monospace;
    font-size: 25px;
}